@page
@model School.Pages_Abouts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>

    <form>
    <p>
        <select asp-for="AboutHeadName" asp-items="Model.HeadName">
            <option value="">All</option>
        </select>
        Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.About[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About[0].HeadName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About[0].Established)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About[0].Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About[0].Fees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About[0].Buildings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.About) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Established)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buildings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
